[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
 
[packages]
python-telegram-bot = "20.4"
python-dotenv = "1.0.0"
python-dotenv-vault = "0.6.3"

[requires]
python_version = "3.9"